<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CallOutApp</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.png">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script>

    </script>
</head>
<body>
<div class="desktop-header">
    <img class="himg" src="/static/CallOutLogo.png">
    <div class="left">
        <span style="color: #9966CC;">Call</span><span style="color: #9999FF;">Out</span>
    </div>
    <div class="right">
        <span class="h"><a style="color: white; text-decoration: none;" href="/">HOME</a>&nbsp;&nbsp;</span>
        <span class="h"><a style="color: white; text-decoration: none;" href="/dashboard">DASHBOARD</a>&nbsp;&nbsp;</span>
        <span class="h"><a style="color: white; text-decoration: none;" href="/about">ABOUT</a>&nbsp;&nbsp;</span>
        <span class="h"><a style="color: white; text-decoration: none;" href="/faq">FAQ</a>&nbsp;&nbsp;</span>
        <span class="h"><a style="color: white; text-decoration: none; margin-right: 10px;" href="/contact">CONTACT</a>&nbsp;&nbsp;</span>
    </div>
</div>
<div class="mobile-header">
    <img class="himg" src="/static/CallOutLogo.png">
    <div style="color: white; font-size: 40px; float: right; margin-right: 20px;" onclick="if(document.getElementById('dropdown').style.display === 'none') { document.getElementById('dropdown').style.display = 'block'; } else { document.getElementById('dropdown').style.display = 'none'; }">|||</div>
    <div style="display: none; width: 100%; height: 100vh; background-color: #000066; text-align: center; color: white;" id="dropdown">
        <span class="h"><a style="color: white; text-decoration: none;" href="/">HOME</a>&nbsp;&nbsp;</span>
        <span class="h"><a style="color: white; text-decoration: none;" href="/dashboard">DASHBOARD</a>&nbsp;&nbsp;</span>
        <span class="h"><a style="color: white; text-decoration: none;" href="/about">ABOUT</a>&nbsp;&nbsp;</span>
        <span class="h"><a style="color: white; text-decoration: none;" href="/faq">FAQ</a>&nbsp;&nbsp;</span>
        <span class="h"><a style="color: white; text-decoration: none; margin-right: 10px;" href="/contact">CONTACT</a>&nbsp;&nbsp;</span>
    </div>
</div>
<div style="height: 15vh; margin: 0; padding: 10px;" class="spacer"></div>
<div class="imgheader">
    <div style="height: 20vh"></div>
    <center>
        <div style="cursor: pointer; border: 2px solid #000066; border-radius: 15px; background-color: #000066; white-space: nowrap; width: -moz-fit-content; width: -webkit-fit-content; width: fit-content; height: fit-content; padding-left: 10px; padding-right: 10px; box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24);" onclick="window.location.href = 'https://calloutapp-229103.appspot.com/dashboard';">
            <h1 style="color: white; font-size: 30px;">Register Now</h1>
        </div>
    </center>
</div>
<center>
    <p style="font-size: 15px;">
        Struggling to make small talk with your co-workers? Stuck in a party
        full of strangers? Ran into your ex at the grocery store? On a sketchy date and want a reason to leave? Cop out with
        CallOut and avoid these everyday awkward situations. Just tap one
        button and within seconds have a call ringing your phone— giving you a
        perfect excuse to get out of there.
    </p>
</center>
</body>
</html>