<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call Out App</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>
<body>
<div id="header">
    <h1>Call Out App</h1>
    <p>Welcome to CallOutApp!
        <br>This is a project we developed at SpartahackV as part of a Major League Hacking Hackathon. This product is designed to help you get out of boring and dangerous situations by sending you a phone call at the click of a button.
    </p>
</div>
</body>
</html>